@import '../../styles/index.css';

.button {
    background-color: var(--yellow0);
    color: var(--gray-500);
    font-weight: bold;
    text-transform: uppercase;
    outline: 0;
    border: none;
    box-shadow: none;
    font-size: var(--f0)
}